resources/airlinesService.xml

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://v1.airlines.cache.conducivetech.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="AirlinesV1SoapService" targetNamespace="http://v1.airlines.cache.conducivetech.com/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://v1.airlines.cache.conducivetech.com/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://v1.airlines.cache.conducivetech.com/">
  <xs:element name="airlineByFsCode" type="tns:airlineByFsCode"/>
  <xs:element name="airlineByFsCodeResponse" type="tns:airlineByFsCodeResponse"/>
  <xs:element name="airlineByIcao" type="tns:airlineByIcao"/>
  <xs:element name="airlineByIcaoResponse" type="tns:airlineByIcaoResponse"/>
  <xs:element name="airlines" type="tns:airlines"/>
  <xs:element name="airlinesByIata" type="tns:airlinesByIata"/>
  <xs:element name="airlinesByIataForDate" type="tns:airlinesByIataForDate"/>
  <xs:element name="airlinesByIataForDateResponse" type="tns:airlinesByIataForDateResponse"/>
  <xs:element name="airlinesByIataResponse" type="tns:airlinesByIataResponse"/>
  <xs:element name="airlinesByIcao" type="tns:airlinesByIcao"/>
  <xs:element name="airlinesByIcaoResponse" type="tns:airlinesByIcaoResponse"/>
  <xs:element name="airlinesResponse" type="tns:airlinesResponse"/>
  <xs:element name="allAirlines" type="tns:allAirlines"/>
  <xs:element name="allAirlinesResponse" type="tns:allAirlinesResponse"/>
  <xs:element name="currentAirlines" type="tns:currentAirlines"/>
  <xs:element name="currentAirlinesResponse" type="tns:currentAirlinesResponse"/>
  <xs:complexType name="airlineByIcao">
    <xs:sequence>
      <xs:element name="appId" type="xs:string"/>
      <xs:element name="appKey" type="xs:string"/>
      <xs:element name="icaoCode" type="xs:string"/>
      <xs:element name="year" type="xs:int"/>
      <xs:element name="month" type="xs:int"/>
      <xs:element name="day" type="xs:int"/>
      <xs:element minOccurs="0" name="extendedOptions" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="airlineByIcaoResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:airline"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType final="extension restriction" name="airline">
    <xs:all>
      <xs:element minOccurs="0" name="fs" type="xs:string"/>
      <xs:element minOccurs="0" name="iata" type="xs:string"/>
      <xs:element minOccurs="0" name="icao" type="xs:string"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="phoneNumber" type="xs:string"/>
      <xs:element name="active" type="xs:boolean"/>
      <xs:element minOccurs="0" name="dateFrom" type="xs:string"/>
      <xs:element minOccurs="0" name="dateTo" type="xs:string"/>
      <xs:element minOccurs="0" name="category" type="xs:string"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="airlinesByIata">
    <xs:sequence>
      <xs:element name="appId" type="xs:string"/>
      <xs:element name="appKey" type="xs:string"/>
      <xs:element name="iataCode" type="xs:string"/>
      <xs:element minOccurs="0" name="extendedOptions" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="airlinesByIataResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:airline"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="airlineByFsCode">
    <xs:sequence>
      <xs:element name="appId" type="xs:string"/>
      <xs:element name="appKey" type="xs:string"/>
      <xs:element name="code" type="xs:string"/>
      <xs:element minOccurs="0" name="extendedOptions" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="airlineByFsCodeResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:airline"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="airlinesByIcao">
    <xs:sequence>
      <xs:element name="appId" type="xs:string"/>
      <xs:element name="appKey" type="xs:string"/>
      <xs:element name="icaoCode" type="xs:string"/>
      <xs:element minOccurs="0" name="extendedOptions" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="airlinesByIcaoResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:airline"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="currentAirlines">
    <xs:sequence>
      <xs:element name="appId" type="xs:string"/>
      <xs:element name="appKey" type="xs:string"/>
      <xs:element minOccurs="0" name="extendedOptions" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="currentAirlinesResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:airline"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="allAirlines">
    <xs:sequence>
      <xs:element name="appId" type="xs:string"/>
      <xs:element name="appKey" type="xs:string"/>
      <xs:element minOccurs="0" name="extendedOptions" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="allAirlinesResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:airline"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="airlines">
    <xs:sequence>
      <xs:element name="appId" type="xs:string"/>
      <xs:element name="appKey" type="xs:string"/>
      <xs:element name="year" type="xs:int"/>
      <xs:element name="month" type="xs:int"/>
      <xs:element name="day" type="xs:int"/>
      <xs:element minOccurs="0" name="extendedOptions" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="airlinesResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:airline"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="airlinesByIataForDate">
    <xs:sequence>
      <xs:element name="appId" type="xs:string"/>
      <xs:element name="appKey" type="xs:string"/>
      <xs:element name="iataCode" type="xs:string"/>
      <xs:element name="year" type="xs:int"/>
      <xs:element name="month" type="xs:int"/>
      <xs:element name="day" type="xs:int"/>
      <xs:element minOccurs="0" name="extendedOptions" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="airlinesByIataForDateResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:airline"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="APIException" type="tns:APIException"/>
  <xs:complexType name="APIException">
    <xs:sequence>
      <xs:element minOccurs="0" name="errorCode" type="xs:string"/>
      <xs:element minOccurs="0" name="errorId" type="xs:string"/>
      <xs:element minOccurs="0" name="httpStatusCode" type="xs:int"/>
      <xs:element minOccurs="0" name="errorMessage" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="airlineByIcao">
    <wsdl:part element="tns:airlineByIcao" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="allAirlinesResponse">
    <wsdl:part element="tns:allAirlinesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="currentAirlinesResponse">
    <wsdl:part element="tns:currentAirlinesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="APIException">
    <wsdl:part element="tns:APIException" name="APIException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="currentAirlines">
    <wsdl:part element="tns:currentAirlines" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="allAirlines">
    <wsdl:part element="tns:allAirlines" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="airlines">
    <wsdl:part element="tns:airlines" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="airlinesByIataForDateResponse">
    <wsdl:part element="tns:airlinesByIataForDateResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="airlinesByIata">
    <wsdl:part element="tns:airlinesByIata" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="airlineByFsCode">
    <wsdl:part element="tns:airlineByFsCode" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="airlinesByIcaoResponse">
    <wsdl:part element="tns:airlinesByIcaoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="airlinesByIcao">
    <wsdl:part element="tns:airlinesByIcao" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="airlinesByIataResponse">
    <wsdl:part element="tns:airlinesByIataResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="airlinesResponse">
    <wsdl:part element="tns:airlinesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="airlineByIcaoResponse">
    <wsdl:part element="tns:airlineByIcaoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="airlineByFsCodeResponse">
    <wsdl:part element="tns:airlineByFsCodeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="airlinesByIataForDate">
    <wsdl:part element="tns:airlinesByIataForDate" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="airlinesService">
    <wsdl:operation name="airlineByIcao">
      <wsdl:input message="tns:airlineByIcao" name="airlineByIcao" wsam:Action="http://v1.airlines.cache.conducivetech.com/airlinesService/airlineByIcaoRequest" wsaw:Action="http://v1.airlines.cache.conducivetech.com/airlinesService/airlineByIcaoRequest">
    </wsdl:input>
      <wsdl:output message="tns:airlineByIcaoResponse" name="airlineByIcaoResponse" wsam:Action="http://v1.airlines.cache.conducivetech.com/airlinesService/airlineByIcaoResponse" wsaw:Action="http://v1.airlines.cache.conducivetech.com/airlinesService/airlineByIcaoResponse">
    </wsdl:output>
      <wsdl:fault message="tns:APIException" name="APIException" wsam:Action="http://v1.airlines.cache.conducivetech.com/airlinesService/airlineByIcao/Fault/APIException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="airlinesByIata">
      <wsdl:input message="tns:airlinesByIata" name="airlinesByIata" wsam:Action="http://v1.airlines.cache.conducivetech.com/airlinesService/airlinesByIataRequest" wsaw:Action="http://v1.airlines.cache.conducivetech.com/airlinesService/airlinesByIataRequest">
    </wsdl:input>
      <wsdl:output message="tns:airlinesByIataResponse" name="airlinesByIataResponse" wsam:Action="http://v1.airlines.cache.conducivetech.com/airlinesService/airlinesByIataResponse" wsaw:Action="http://v1.airlines.cache.conducivetech.com/airlinesService/airlinesByIataResponse">
    </wsdl:output>
      <wsdl:fault message="tns:APIException" name="APIException" wsam:Action="http://v1.airlines.cache.conducivetech.com/airlinesService/airlinesByIata/Fault/APIException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="airlineByFsCode">
      <wsdl:input message="tns:airlineByFsCode" name="airlineByFsCode" wsam:Action="http://v1.airlines.cache.conducivetech.com/airlinesService/airlineByFsCodeRequest" wsaw:Action="http://v1.airlines.cache.conducivetech.com/airlinesService/airlineByFsCodeRequest">
    </wsdl:input>
      <wsdl:output message="tns:airlineByFsCodeResponse" name="airlineByFsCodeResponse" wsam:Action="http://v1.airlines.cache.conducivetech.com/airlinesService/airlineByFsCodeResponse" wsaw:Action="http://v1.airlines.cache.conducivetech.com/airlinesService/airlineByFsCodeResponse">
    </wsdl:output>
      <wsdl:fault message="tns:APIException" name="APIException" wsam:Action="http://v1.airlines.cache.conducivetech.com/airlinesService/airlineByFsCode/Fault/APIException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="airlinesByIcao">
      <wsdl:input message="tns:airlinesByIcao" name="airlinesByIcao" wsam:Action="http://v1.airlines.cache.conducivetech.com/airlinesService/airlinesByIcaoRequest" wsaw:Action="http://v1.airlines.cache.conducivetech.com/airlinesService/airlinesByIcaoRequest">
    </wsdl:input>
      <wsdl:output message="tns:airlinesByIcaoResponse" name="airlinesByIcaoResponse" wsam:Action="http://v1.airlines.cache.conducivetech.com/airlinesService/airlinesByIcaoResponse" wsaw:Action="http://v1.airlines.cache.conducivetech.com/airlinesService/airlinesByIcaoResponse">
    </wsdl:output>
      <wsdl:fault message="tns:APIException" name="APIException" wsam:Action="http://v1.airlines.cache.conducivetech.com/airlinesService/airlinesByIcao/Fault/APIException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="currentAirlines">
      <wsdl:input message="tns:currentAirlines" name="currentAirlines" wsam:Action="http://v1.airlines.cache.conducivetech.com/airlinesService/currentAirlinesRequest" wsaw:Action="http://v1.airlines.cache.conducivetech.com/airlinesService/currentAirlinesRequest">
    </wsdl:input>
      <wsdl:output message="tns:currentAirlinesResponse" name="currentAirlinesResponse" wsam:Action="http://v1.airlines.cache.conducivetech.com/airlinesService/currentAirlinesResponse" wsaw:Action="http://v1.airlines.cache.conducivetech.com/airlinesService/currentAirlinesResponse">
    </wsdl:output>
      <wsdl:fault message="tns:APIException" name="APIException" wsam:Action="http://v1.airlines.cache.conducivetech.com/airlinesService/currentAirlines/Fault/APIException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="allAirlines">
      <wsdl:input message="tns:allAirlines" name="allAirlines" wsam:Action="http://v1.airlines.cache.conducivetech.com/airlinesService/allAirlinesRequest" wsaw:Action="http://v1.airlines.cache.conducivetech.com/airlinesService/allAirlinesRequest">
    </wsdl:input>
      <wsdl:output message="tns:allAirlinesResponse" name="allAirlinesResponse" wsam:Action="http://v1.airlines.cache.conducivetech.com/airlinesService/allAirlinesResponse" wsaw:Action="http://v1.airlines.cache.conducivetech.com/airlinesService/allAirlinesResponse">
    </wsdl:output>
      <wsdl:fault message="tns:APIException" name="APIException" wsam:Action="http://v1.airlines.cache.conducivetech.com/airlinesService/allAirlines/Fault/APIException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="airlines">
      <wsdl:input message="tns:airlines" name="airlines" wsam:Action="http://v1.airlines.cache.conducivetech.com/airlinesService/airlinesRequest" wsaw:Action="http://v1.airlines.cache.conducivetech.com/airlinesService/airlinesRequest">
    </wsdl:input>
      <wsdl:output message="tns:airlinesResponse" name="airlinesResponse" wsam:Action="http://v1.airlines.cache.conducivetech.com/airlinesService/airlinesResponse" wsaw:Action="http://v1.airlines.cache.conducivetech.com/airlinesService/airlinesResponse">
    </wsdl:output>
      <wsdl:fault message="tns:APIException" name="APIException" wsam:Action="http://v1.airlines.cache.conducivetech.com/airlinesService/airlines/Fault/APIException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="airlinesByIataForDate">
      <wsdl:input message="tns:airlinesByIataForDate" name="airlinesByIataForDate" wsam:Action="http://v1.airlines.cache.conducivetech.com/airlinesService/airlinesByIataForDateRequest" wsaw:Action="http://v1.airlines.cache.conducivetech.com/airlinesService/airlinesByIataForDateRequest">
    </wsdl:input>
      <wsdl:output message="tns:airlinesByIataForDateResponse" name="airlinesByIataForDateResponse" wsam:Action="http://v1.airlines.cache.conducivetech.com/airlinesService/airlinesByIataForDateResponse" wsaw:Action="http://v1.airlines.cache.conducivetech.com/airlinesService/airlinesByIataForDateResponse">
    </wsdl:output>
      <wsdl:fault message="tns:APIException" name="APIException" wsam:Action="http://v1.airlines.cache.conducivetech.com/airlinesService/airlinesByIataForDate/Fault/APIException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AirlinesV1SoapServiceSoapBinding" type="tns:airlinesService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="airlineByIcao">
      <soap:operation soapAction="http://v1.airlines.cache.conducivetech.com/airlinesService/airlineByIcaoRequest" style="document"/>
      <wsdl:input name="airlineByIcao">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="airlineByIcaoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="APIException">
        <soap:fault name="APIException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="airlinesByIata">
      <soap:operation soapAction="http://v1.airlines.cache.conducivetech.com/airlinesService/airlinesByIataRequest" style="document"/>
      <wsdl:input name="airlinesByIata">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="airlinesByIataResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="APIException">
        <soap:fault name="APIException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="airlineByFsCode">
      <soap:operation soapAction="http://v1.airlines.cache.conducivetech.com/airlinesService/airlineByFsCodeRequest" style="document"/>
      <wsdl:input name="airlineByFsCode">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="airlineByFsCodeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="APIException">
        <soap:fault name="APIException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="airlinesByIcao">
      <soap:operation soapAction="http://v1.airlines.cache.conducivetech.com/airlinesService/airlinesByIcaoRequest" style="document"/>
      <wsdl:input name="airlinesByIcao">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="airlinesByIcaoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="APIException">
        <soap:fault name="APIException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="currentAirlines">
      <soap:operation soapAction="http://v1.airlines.cache.conducivetech.com/airlinesService/currentAirlinesRequest" style="document"/>
      <wsdl:input name="currentAirlines">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="currentAirlinesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="APIException">
        <soap:fault name="APIException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="allAirlines">
      <soap:operation soapAction="http://v1.airlines.cache.conducivetech.com/airlinesService/allAirlinesRequest" style="document"/>
      <wsdl:input name="allAirlines">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="allAirlinesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="APIException">
        <soap:fault name="APIException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="airlines">
      <soap:operation soapAction="http://v1.airlines.cache.conducivetech.com/airlinesService/airlinesRequest" style="document"/>
      <wsdl:input name="airlines">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="airlinesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="APIException">
        <soap:fault name="APIException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="airlinesByIataForDate">
      <soap:operation soapAction="http://v1.airlines.cache.conducivetech.com/airlinesService/airlinesByIataForDateRequest" style="document"/>
      <wsdl:input name="airlinesByIataForDate">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="airlinesByIataForDateResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="APIException">
        <soap:fault name="APIException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AirlinesV1SoapService">
    <wsdl:port binding="tns:AirlinesV1SoapServiceSoapBinding" name="airlinesServicePort">
      <soap:address location="https://api.flightstats.com/flex/airlines/soap/v1/airlinesService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>